		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title mb-2">
						Login to continue
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="d-flex">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100 pl-2" for="ckb1">
								Remember me
							</label>
							<a href="#" class="ml-auto">
								Forgot Password?
							</a>
					</div>
					<div class="container-login100-form-btn mt-2">
						<button class="login100-form-btn">
							Login
						</button>
            <a href="#" class="mt-2">Create an account</a>
					</div>
				</form>
        <img src="<%= image_url('login.jpg') %>" class="login100-more mr-4" />
				</div>
			</div>
		</div>
